#header-border {
    background-color: #000000;
}
#header {
    width: 1500px;
    margin: auto;
    padding: 30px;
    height: 120px;
    background-color: #000000;
}
#body-border {
    position: relative;
}
#body {
    width: 1500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}
#logo {
    margin: 5px;
    margin-left: 20px;
    position: relative;
    float: left;
}
.logotext1 {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.logotext2 {
    font-family: 'Kumbh Sans', sans-serif;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}
#charts {
    margin-top: 20px;
}
#grid-fig {
    width: 100%;
    height: 750px;
}
#bar-fig {
    width: 880px;
    height: 650px;
}
#vertical-controls {
    height: 300px;
}
#vertical-controls h5 {
    margin-bottom: 20px;
}
#vertical-slider-controls {
    height: 300px;
    text-align: center;
}
.filter-group {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 300px;
}
.filter-group-bar {
    margin-top: 10px;
    margin-bottom: 60px;
}
.filter-group-bar h5 {
    margin-bottom: 20px;
}
.controls {
    padding: 0;
    margin-top: 30px;
}
.score-sliders * {
    padding-left: 0;
    padding-right: 0;
}
#slider-definition {
    margin-top: 30px;
    height: 160px;
    border: 2px solid #88b775;

}
#slider-intention {
    margin-top: 30px;
    height: 160px;
    border: 2px solid #88b775;

}
#slider-property {
    margin-top: 30px;
    height: 160px;
    border: 2px solid #88b775;

}
#slider-overall {
    margin-top: 30px;
    height: 160px;
    border: 2px solid #88b775;
}
.slider-vertical {
    width: 13px;
    margin: auto;
}
.activate-button {
    display: inline;
    padding: 10px 20px 10px;
    text-align: center;
    background-color: #88b775;
    color: white;
    border-radius: 20px;
    border: 2px solid transparent;
    line-height: 50px;
    white-space: nowrap;
}
.activate-button:hover {
    color: black;
    background-color: #f7f8f8;
    border: 2px solid #88b775;
}



.nav-link {
    color: black;
}
.nav-link:active {
    color: black;
}
.reference {
    margin-top: 30px;
    padding: 20px 20px 20px;
    background-color: #eee;
    border-radius: 4px;
}

/* Slider */
.ui-slider {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    position: relative;
    border: none;
    background: #f7f8f8;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #f7f8f8;
    border-radius: 20px;
    outline: none;
    position: absolute;
    border: 2px solid #83b46f;
}
.ui-slider-range {
    background: #88b775;
    border-radius: 10px;
}
#slider-overall {
    width: 20px;
    border-radius: 5px;
}
#slider-overall .ui-slider-range {
    border-radius: 1px;
}

.slider-vertical {
    height: 150px;
    position: relative;
    border: 2px solid #83b46f;
    width: 40px;
    border-radius: 15px;
    border: 0;
}
.slider-vertical span {
    color:black !important;
    position: absolute !important;
    width: 65px !important;
    height: 30px !important;
    margin-left: -.6em !important;
    /* margin-top: -.2em !important; */
    text-align: center !important;
}


#slider-year {
    height: 30px;
    position: relative;
    border: 2px solid #83b46f;
    border-radius: 20px;
}
#slider-year span {
    top: -10px;
    position: absolute;
    width: 1.2em;
    height: 50px;
    margin-left: -.6em;
    text-align: center;
}
#year-label {
    display: block;
}
#year-label span {
    display: block;
    position: absolute;
    background-color: white;
    color: #82b46d;
}

/* ACM CCS Buttons */
.button {
    display: inline-block;
    margin: 0 10px 5px;
    padding: 0 10px 5px;
    padding: 10px 20px 10px;
    text-align: center;
    line-height: 20px;
    white-space: nowrap;
    color: black;
    border-radius: 20px;
}
.css-button-deactivate {
    background: white;
    color: #b4b4b4;
    border: 2px solid #b4b4b4;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    padding: 20px;
    color: white;
    background-color: black;
    text-align: center;
}